@import "cssreset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');


body{
    background: #FFFFFF;
}

#container{
    width:1170px;
    margin:0 auto;
   
}


#header{
    position: relative;
    top:10px;
  z-index: 1030;
  padding:22px;
  margin-top: 41px;

}
.fixed-top{
    margin-top: 41px;
}
a.navbar-brand.My-cafe {

    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-left:15px;
}
a.navbar-brand.My-cafe span {
color:#ce3232;
   
}

#header .navbars .nav-item .nav-link{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding-right: 22px;
    padding-left: 22px;
    text-transform: uppercase;
}
#header .navbars .nav-item a:hover{
    color: #ce3232;
    background:#DDD0C7;
  
}





 ul.nav.justify-content-end.Section-btn {
     margin-left:4.4rem;

}
li.nav-item.my-btn {
    background: #ce3232;
    color: #f9f9f9;
}
li.nav-item .my-btn  a:hover{
    background: #ce3232 !important;
    color: #f9f9f9 !important;
}

 #header .section-btn .nav-item .nav-link{
    border-radius: 0;
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    transition: 0.5s 0.2s;
 }

#slider-section{
    position: relative;
    top: -95px;

}
#slider-section .carousel-container{
  
    
}


.carousel-control-next-icon{
    display:none;
}

.carousel-control-prev-icon{
    display:none;
}

.header-slider{
    position: absolute;
    top:18.75rem;
    left:-6px;
    margin-left: 100px;
    margin-right:100px;
    max-width:600px;
}
.header-slider .header-row{
    position: relative;
    right: -480px;
}
.header-slider h3{
    color: #f9f9f9;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  margin:0;
  margin-bottom:20px;
}
.header-slider h1{
    color: #f9f9f9;
    font-size: 3em;
    line-height: 50px;
    margin-top:10px;
}

.header-slider .header-row .button-div{
    margin-top:1.90rem;
   
}
a.my-button1 {
    padding: 10px 25px;
  
      font-weight: bold;
    color: #ffffff;
    
    text-transform: upper;
    background: #ce3232;
   text-decoration: none;
    font-weight: normal;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0;
}
a.my-button2 {
    padding: 10px 25px;
    
    font-weight: bold;
    color: #ffffff;
    
    text-transform: upper;
    background: #292929;
   text-decoration: none;
    font-weight: normal;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0;
}
a.my-button3 {
    padding: 10px 25px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #ffffff;
    text-transform: upper;
    background: transparent;
   text-decoration: none;
    font-weight: normal;
   border-radius: 0;
    cursor: pointer;
}

.about-us{
   
}
  .about-us .read-our.story{
      width:368px;
      height:585px;
    
}
.about-us .read-our-story h4{
    color: #bfbdbd;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom:10px
  
}
.about-us .read-our-story h2{
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
    margin-top:25px;
    font-weight: bold;
    line-height:50px;
}
.about-us .read-our-story p{
color: #757575;
font-size: 14px;
font-weight: normal;
line-height: 24px;
margin-bottom:10px;
}
  
.about-us .chef-image img{
    height:368.14px;
    width:585px;

 
}
.about-us .chef-image .chef-top{
    object-fit: contain;
    vertical-align: bottom;
}
.our-team-row{
    padding: 100px;
    max-width: 1200px;
    position: relative;
    left:15%;
    
    padding:100px 0;
}
.our-team .meet-our-chef{
    text-align: center;
    margin-bottom:5px;
}

.our-team .meet-our-chef h2{
    color: #353535;
    font-size: 2em;
    font-weight: bold;
    padding-bottom:29px;
}
.our-team .meet-our-chef h4{
    color: #bfbdbd;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom:10px;
}

.our-team{
    background:#f9f9f9;
    background-position: 0% 67px
}

.our-team img{
    width:100%;
}
.our-team .team-thumb{
    position: relative;
    cursor: pointer;
 
}
.our-team .team-thumb .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    right: 0;
    height: 89%;
    width: 93%;;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
    background: #1c1c1c;
  }  
  .our-team .team-thumb:hover .overlay{
    opacity: 0.95;
    transition-delay: 0.3s;
    transform: translateY(0);
}
.our-team .team-thumb .overlay .team-item{
    color: #ffffff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 15%;
    


}
.our-team .team-thumb .overlay .team-item h4{
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    font-size: 25px;
    letter-spacing: 1px;
}
.our-team .team-thumb .overlay .team-item i{
  
    background:#292929;
    border-radius: 100%;
    width:50px;
    height:50%;
    line-height:50%;
    margin:15px 5px 0 5px;
}

.our-team .team-thumb .chef-info{
    margin-top: 25px;
    text-align:center;
}
.our-team .team-thumb .chef-info h3{
    color: #454545;
    font-size:1.5rem;
    font-weight:bold;
    letter-spacing: 1px;
}
.our-team .team-thumb .chef-info p{
    color: #bfbdbd;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
}



#menu-section{
    padding-top:100px;
}
#menu-section .menu-row{

}

#menu-section .meet-our-chef{
    text-align: center;
    margin-bottom:5px;
}

#menu-section .meet-our-chef h2{
    color: #353535;
    font-size: 2em;
    font-weight: bold;
    padding-bottom:29px;
}
#menu-section .meet-our-chef h4{
    color: #bfbdbd;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom:10px;
}

#menu-section .menu-row .menu-container{
    padding:0;
}
#menu-section .menu-row img{
    width:100%


}
#menu-section .menu-row .menu-container{
    position: relative;
    cursor: pointer;
 
}
#menu-section .menu-row .menu-container .overlay-menu {
    position: absolute;
  
    bottom: 0;
    left: -1px;
    right: 0;
    height: 43%;
    width: 100%;;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
    background: #1c1c1c;
  }  
  #menu-section .menu-row .menu-container:hover .overlay-menu{
    opacity: 0.95;
    transition-delay: 0.3s;
    transform: translateY(0);
}
#menu-section .menu-row .menu-container .overlay-menu .menu-item{
    color: #ffffff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 15%;
    


}
#menu-section .menu-row .menu-container .overlay-menu .menu-item h4{
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom:10px;
}
#menu-section .menu-row .menu-container .overlay-menu .menu-item h4 span{
   position: relative;
   right:-220px;
}
#menu-section .menu-row .menu-container .overlay-menu .menu-item  p{
    color: #bfbdbd;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
}